[user]
	name = Dennis Burke
	email = dennisburke@prodigy.net
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[core]
	editor = vim
	excludesfile = ~/.gitignore
[github]
	user = ikirudennis
