[defaults]
inventory = inventories/hosts
interpreter_python = python3
callbacks_enabled = profile_tasks
stdout_callback = default
callback_whitelist = default

[callback_default]
result_format = yaml
