[Unit]
Description=Conky systemd service
PartOf=graphical-session.target
[Service]
Type=simple
ExecStart=/usr/bin/conky
Restart=always
RestartSec=5
[Install]
WantedBy=default.target
